@model MusicStore.Domain.Domain.Album

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="my-4 d-flex justify-content-between">
    <div>
        <a asp-action="Index">Back to Albums</a>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a>
    </div>
</div>

<div class="d-flex align-items-end justify-content-between">
    <div class="d-flex">
    <div class="mr-3">
        <img src="@Model.AlbumImage" alt="Playlist Image" class="fixed-size-img" />
    </div>
    <div >
        <h1 class="display-4">@Model.AlbumName</h1>
        <div class="d-flex">
            <div class="mr-2">
                <a asp-controller="Artists" asp-action="Details" asp-route-id="@Model.Artist.Id">
                    @Model.Artist.Name
                </a>
            </div>
            <span>&#8226; </span>
            <div class="ml-2">
                @Model.Tracks.Count songs, @ViewBag.TotalDuration
            </div>
        </div>
    </div>
    </div>
    @if (ViewBag.LoggedIn == true)
    {
        <a asp-controller="Albums" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn btn-primary">Buy the CD</a>
    }
</div>

<!-- Tracks -->
<div>
    <h4 class="mt-4">Tracks</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Track Name</th>
                <th>Duration</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Tracks != null && Model.Tracks.Any())
            {
                @foreach (var track in Model.Tracks)
                {
                    <tr class="p-2">
                        <td>@track.TrackName</td>
                        <td>@track.Minutes:@track.Seconds</td>

                            <td class="d-flex justify-content-end">

                            @if (ViewBag.LoggedIn == true)
                            {
                                <a type="submit" href="@Url.Action("AddToPlaylist", new { trackId = track.Id })" class="btn show-icon mr-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" style="fill: white" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                    </svg>
                                </a>

                            }

                            </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">No tracks available</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-muted">
        <div>Released: </div>
        @Model.ReleaseDate.Date 
    </div>
</div>

<!-- Links for Edit and Back to List -->

