@model MusicStore.Domain.Domain.Artist

@{
    ViewData["Title"] = "Artist Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!-- Artist Information -->
    <div class="row mb-4">
        <div class="col-md-3">
            <img src="@Model.ArtistImage" alt="Artist Image" class="img-fluid rounded-circle" style="width: 150px; height: 150px; object-fit: cover;" />
        </div>
        <div class="col-md-9 d-flex align-items-end">
            <h2>@Model.Name</h2>
        </div>
    </div>


    <!-- Albums of the Artist -->
    <h4>Albums</h4>
    <hr />
    @if (Model.Albums != null && Model.Albums.Any())
    {
        <ul class="list-group border-0 albums-ul">
            @foreach (var album in Model.Albums)
            {
                <li class="list-group-item album-li">
                    <a asp-action="Details" asp-controller="Albums" asp-route-id="@album.Id" class="text-decoration-none d-flex align-items-center">
                        <img src="@album.AlbumImage" alt="Album Image" class="img-thumbnail" style="width: 100px; height: 100px; object-fit: cover; margin-right: 15px;" />
                        <span>@album.AlbumName</span>
                    </a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No albums found for this artist.</p>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
