@model MusicStore.Domain.Domain.UserPlaylist

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-4">
    <div class="col-md-3">
        <!-- Display the playlist image -->
        <img src="@Model.Image" alt="Playlist Image" class="fixed-size-img" />
    </div>
    <div class="col-md-9 d-flex align-items-end">
        <!-- Display the playlist name -->
        <h1 class="display-4">@Model.PlaylistName</h1>
    </div>
</div>

<div>
    <h4>Tracks in Playlist</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TracksInPlaylist.First().Track.TrackName)</th>
                <th>@Html.DisplayNameFor(model => model.TracksInPlaylist.First().Track.Album.Artist)</th>
                <th>Duration</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trackInPlaylist in Model.TracksInPlaylist)
            {
                <tr>
                    <td>@trackInPlaylist.Track.TrackName</td>
                    <td>@trackInPlaylist.Track.Album.Artist.Name</td>
                    <td>@trackInPlaylist.Track.Minutes:@trackInPlaylist.Track.Seconds</td>
                    <td>
                        <form asp-action="RemoveTrackFromPlaylist" method="post">
                            <input type="hidden" name="TrackInPlaylistId" value="@trackInPlaylist.Id" />
                            <input type="hidden" name="PlaylistId" value="@trackInPlaylist.UserPlaylistId" />
                            <input type="submit" value="Remove from playlist" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
