@model MusicStore.Domain.Domain.UserPlaylist

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="my-4 d-flex justify-content-between">
    <div>
        <a asp-action="Index">Back to My Playlists</a>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a>
    </div>
</div>


<div class="d-flex align-items-end">
    <div class="mr-3">
        <img src="@Model.Image" alt="Playlist Image" class="fixed-size-img" />
    </div>
    <div>
        <h1 class="display-4">@Model.PlaylistName</h1>
        <div class="d-flex">
            <div class="ml-2">
                @Model.TracksInPlaylist.Count songs, @ViewBag.TotalDuration
            </div>
        </div>
    </div>
</div>

<div class="mt-4">
    <h4>Tracks in Playlist</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Track</th>
                <th>Album</th>
                <th>Duration</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trackInPlaylist in Model.TracksInPlaylist)
            {
                <tr>
                    <td>
                        <div class="d-flex">
                            <div class="mr-2">
                                <img src="@trackInPlaylist.Track.Album.AlbumImage" class="album-cover-playlist" alt="Album Cover" />
                            </div>
                            <div>
                                <div>
                                    @trackInPlaylist.Track.TrackName
                                </div>
                                <div>
                                    <a asp-action="Details" asp-controller="Artists" asp-route-id="@trackInPlaylist.Track.Album.Artist.Id">
                                        @trackInPlaylist.Track.Album.Artist.Name
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="Albums" asp-route-id="@trackInPlaylist.Track.Album..Id">
                            @trackInPlaylist.Track.Album.AlbumName
                        </a>
                    </td>
                    <td >@trackInPlaylist.Track.Minutes:@trackInPlaylist.Track.Seconds</td>
                    <td class="d-flex justify-content-end">
                        <form asp-action="RemoveTrackFromPlaylist" method="post">
                            <input type="hidden" name="TrackInPlaylistId" value="@trackInPlaylist.Id" />
                            <input type="hidden" name="PlaylistId" value="@trackInPlaylist.UserPlaylistId" />
                            <button type="submit" class="btn show-icon mr-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" style="fill: white" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg>
                            </button>
                            @* <input type="submit" value="Remove from playlist" class="btn btn-danger" /> *@
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


