@model MusicStore.Domain.Domain.UserPlaylist

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="my-4 d-flex justify-content-between">
    <div>
        <a asp-action="Index">Back to My Playlists</a>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a>
    </div>
</div>


<div class="d-flex align-items-end">
    <div class="mr-3">
        <img src="@Model.Image" alt="Playlist Image" class="fixed-size-img" />
    </div>
    <div>
        <h1 class="display-4">@Model.PlaylistName</h1>
        <div class="d-flex">
            <div class="ml-2">
                @Model.TracksInPlaylist.Count songs, @ViewBag.TotalDuration
            </div>
        </div>
    </div>
</div>

<div class="mt-4">
    <h4>Tracks in Playlist</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Track</th>
            @*     <th>@Html.DisplayNameFor(model => model.TracksInPlaylist.First().Track.Album.Artist)</th> *@
                <th>Duration</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trackInPlaylist in Model.TracksInPlaylist)
            {
                <tr>
                    <td>
                        <div class="d-flex">
                            <div class="mr-2">
                                <img src="@trackInPlaylist.Track.Album.AlbumImage" class="album-cover-playlist" alt="Album Cover" />
                            </div>
                            <div>
                                <div>
                                    @trackInPlaylist.Track.TrackName
                                </div>
                                <div>
                                    <a asp-action="Details" asp-controller="Artists" asp-route-id="@trackInPlaylist.Track.Album.Artist.Id">
                                        @trackInPlaylist.Track.Album.Artist.Name
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                    @* <td>@trackInPlaylist.Track.Album.Artist.Name</td> *@
                    <td >@trackInPlaylist.Track.Minutes:@trackInPlaylist.Track.Seconds</td>
                    <td class="d-flex justify-content-end">
                        <form asp-action="RemoveTrackFromPlaylist" method="post">
                            <input type="hidden" name="TrackInPlaylistId" value="@trackInPlaylist.Id" />
                            <input type="hidden" name="PlaylistId" value="@trackInPlaylist.UserPlaylistId" />
                            <input type="submit" value="Remove from playlist" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


